<div class="d-flex-column">
    <app-go-back class="go-back-arrow"></app-go-back>
    <form class="d-flex-column gap-20" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <legend class="ta-center fs-title">Inscription</legend>
        <div class="d-flex-column m-auto">
            <label>Nom d'utilisateur</label>
            <input class="input" type="text" formControlName="username">
        </div>
        <div class="d-flex-column m-auto">
            <label>Adresse e-mail</label>
            <input class="input" type="email" formControlName="email">
        </div>
        <div class="d-flex-column m-auto">
            <label>Mot de passe</label>
            <input class="input" type="password" formControlName="password">
        </div>
        <input class="m-auto button button-primary" type="submit" value="S'inscrire">
    </form>
</div>
