<div class="center">
    <app-go-back></app-go-back>
    <form class="flex-column gap-20" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <legend class="ta-center fsize-title">Inscription</legend>
        <div class="flex-column">
            <label>Nom d'utilisateur</label>
            <input class="input" type="text" formControlName="username">
        </div>
        <div class="flex-column">
            <label>Adresse e-mail</label>
            <input class="input" type="email" formControlName="email">
        </div>
        <div class="flex-column">
            <label>Mot de passe</label>
            <input class="input" type="password" formControlName="password">
        </div>
        <input class="m-auto button button-primary" type="submit" value="S'inscrire">
    </form>
</div>